{% extends "base.html" %}
{% block title %}Show Bucketlist Items{% endblock %}
{% block content_title %}All Bucketlist Items{% endblock %}
{% block content %}
    <hr />
        {% for bucketlist_item in bucketlist_items %}
            <p>
                <h3>Name</h3>
                {{ bucketlist_item.name }}
                <br />
                <h3>Description</h3>
                {{ bucketlist_item.description }}
                <br />
                <br />
                <a href="#">
                    <button class="btn btn-primary">Edit</button>
                </a>
                <a href="#">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </p>
            <hr />
        {% endfor %}
{% endblock %}
