{% extends "base.html" %}
{% block title %}Show Bucketlists{% endblock %}
{% block content_title %}All Bucketlists{% endblock %}
{% block content %}
    <hr />
        {% for bucket_list in all_bucketlists %}
            <p>
                <h5>{{ bucket_list.name }}</h5>
                <br />
                {{ bucket_list.description }}
                <a href="{{ url_for('delete_bucketlist', name=bucket_list.name, description=bucket_list.description) }}">
                    <button class="btn btn-default">Delete</button>
                </a>
                <a href="{{ url_for('edit_bucket_list', name=bucket_list.name, description=bucket_list.description) }}">
                    <button class="btn btn-default">Edit</button>
                </a>
            </p>
            <hr />
        {% endfor %}
{% endblock %}
