{% extends "base.html" %}
{% block title %}Show Bucketlists{% endblock %}
{% block content_title %}All Bucketlists{% endblock %}
{% block content %}
    <hr />
        {% for bucket_list in all_bucketlists %}
            <p>
                <h5>{{ bucket_list.name }}</h5>
                <br />
                {{ bucket_list.description }}
                <span>
                    <button>
                        <a href="{{ url_for('delete_bucketlist', obj=bucket_list) }}">Delete</a>
                    </button>
                </span>
            </p>
            <hr />
        {% endfor %}
{% endblock %}
